Debug
BattleRoyaleNearEarth.sdf
BattleRoyaleNearEarth.suo
ipch
source/Debug
source/BattleRoyaleNearEarth.vcxproj.user
build
dist
nbproject/private
.DS_store
.dep.inc
*.opensdf
*.orig
*.o
*.so 
*.dylib
battle-royale-near-earth-linux
*.swp
